.blog-slider_container{
    margin: 0 auto;
    position: relative;
    max-width: 80%;
    height: 750px;
}

.blog-slider_slides{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;

}

/* .blog-slider_item{
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateY(0%) translateX(-50%) scale(0.3);
    transition: all 3s ease;
    opacity: 0;
    z-index: 1;
} */
.mySwiper{
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-wrapper{
    width: 40vw;
}

.mySwiper.swiper-slide{
    transform-style: preserve-3d;
}
.swiper-slide{
    position: absolute;
    top: -5%;
    left: 150px;
    /* transform: translateY(0%) translateX(-50%) scale(0.3); */
    transition: all 3s ease;
    z-index: 1;
    width: 55vw;
    transform-style: preserve-3d;
}

/* .blog-slider_item.middle{
    transform: translateX(0);
}

.blog-slider_item.left{
    transform: translateX(-100%);
}

.blog-slider_item.right{
    transform: translateX(100%);
} */
.swiper-slide img{
    width: 65%;
    height: 60vh;
}

.swiper-slide .blog-content{
    transition: .3s;
    background: #eee;
    overflow: hidden;
    padding: 15px 30px;
    width: 65%;
}

.swiper-slide .blog-content h2{
    overflow: hidden;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    color: black;
    font-size: 30px;
    line-height: 34px;
    font-weight: 300;
    text-align: left;
}

.swiper-slide .blog-content p{
    overflow: hidden;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    color: #111;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    text-align: left;
}

.blg-btn{
    font-weight: 500;
    color: #000;
    transition: .5s;
    background: transparent;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 10px 40px;
    display: inline-block;
    text-decoration: none;
}

/* .blog-slider_item.active{
    transform: translateX(0) translateY(0) translateZ(0);
} */

/* .swiper-slide-prev{
    
    /* transform: translateY(0) translateX(50%) scale(0.65);
    opacity: 1;
    z-index: 1; *
} */

/* .swiper-slide-prev img{
    transform: translate3d(0px,0px,-100px) rotateX(0deg) rotateY(50deg) scale(1);
    z-index: 0;
    transition-duration: 0ms;
    /* transition: .3s;
    transform: perspective(400px) rotateY(30deg);
    opacity: .7; *
} */

/* .swiper-slide-active{
    
    /* top: 0%;
    left: 68%;
    transform: translateY(0) translateX(-50%) scale(1);
    opacity: 1;
    z-index: 5;
    width: 50%; *
} */

/* .swiper-slide-active img{
    /* transition: .10s;
    transform: rotateY(0deg);
    opacity:1;
    margin-top: 0px;
    display: inline-block;
    vertical-align: top; *
} */

/* .swiper-slide-next{
    
    /* left: 50%;
    transform: translateY(0) translateX(-150%) scale(0.65);
    opacity: 1;
    z-index: 1; *
} */

/* .swiper-slide-next img{
    transform: translate3d(0px,0px,-100px) rotateX(0deg) rotateY(-50deg) scale(1);
    z-index: 0;
    transition-duration: 0ms;
    /* transition: .3s;
    transform: perspective(400px) rotateY(-30deg);
    opacity:.7; *
} */

.blog-slider_arrow{
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: 20%;
    display: block;
    width: 58px;
    height: 58px;
    padding: 0;
    top: inherit;
    transform: translateY(-50%);
    -webkit-transform: translate(40%,0%);
    -ms-transform: translate(40%,0%);
    transform: translate(40%,0%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: url(https://redingtongroup.com/wp-content/themes/redington/assets/images/prev-btn.png) no-repeat left top;
    background-size: 36px;
    z-index: 10;
}
.blog-slider_arrow-left{
    left: 10%;
    bottom: 110px;
}

.blog-slider_arrow-right{
    right: 10%;
    transform: rotate(180deg);
}