.services_part{
	margin-top: 100px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.service_item_in{
	width:30%;
	padding: 20px;
}
.service_item_in:hover{
	box-shadow: 0px 0px 20px 1px #ddd;
}
.service_item_in:hover .icon{
	visibility: hidden;
	display: none;
}
.service_item_in:hover .iconHover{
	visibility: visible;
	display: inline;
}
.service_item_in img{
	width: 120px;
}
.service_item_in p{
	font-size: 18px;
}
.iconHover{
	visibility: hidden;
	display: none;
}
.arrow{
	width: 50px;
}
@media(orientation:portrait){
	.services_part{
		gap: 20px;
	}
	.service_item_in{
		width:90%;
		padding: 20px;
	}
}