.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 0px;
    padding-left: 0px;
    background: #D3E0EA;
    color: black;
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0px;
    font-weight: 800;
    z-index: 11;
}
.navbar-left{
    display: flex;
    font-weight: 900;
    gap: 20px;
}
.navbar-right{
    display: flex;
    font-weight: 900;
    margin-left: 60px;
    user-select: none;
    gap: 50px;
    margin-right: 30px;
}
.navbar-left-content{
    position: relative;
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
    user-select: none;
}
.navbar-right-content{
/*    margin-right: 30px;*/
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0;
}
.navbar-right-content a{
	margin: 0 0;
	margin-top: 8px;
	color: #003f69;
    text-decoration: none;
/*	text-shadow: 0px 0px 10px cyan;*/
}
.navbar-right-content hr{
	margin-top: 16px;
	margin-bottom: 0px;
    transition: width 0.5s;
    width: 0px;
    border: 2px solid #D3E0EA;
    border-radius: 10px;
}
.navbar-right-content:hover hr{
    border: 2px solid #003f69;
	width: 100%;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 80px;
    background-color: #Fff;
    box-shadow: 0px 8px 10px 0px #444;
    z-index: 1;
    border-radius: 0px;
    width: 800px;
    text-align: center;
    padding: none;
    height: 500px;
    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox */
}

.navbar-right-content:hover .dropdown-content {
    border-bottom: 4px solid lightseagreen;
    display: block;
}
.dropdown-content p:nth-child(odd) {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}
.dropdown-content p:nth-child(even){
    background: #D3E0EA;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}
.dropdown-content p:hover{
    background: #454580;
}
.hamburger{
    display: none;
    visibility: hidden;
}
@media(orientation:portrait){
    body{
    }

    .navbar-right{
        display: none;
        font-weight: 900;
        margin-left: 60px;
        user-select: none;
        gap: 50px;
        margin-right: 30px;
    }
    .navbar-left-content{
        position: relative;
        display: inline-block;
        margin-left: 10px;
        cursor: pointer;
        user-select: none;
    }
    #hambure #ham-1{
        transition: width 1s;
        transition: transform 1s;
        top: 10px;
    }
    #hambure #ham-2{
        transition: width 1s;
        transition: transform 1s;
        top:20px
    }
    #hambure #ham-3{
        transition: width 1s;
        transition: transform 1s;
        top: 10px;
        transition: width 1s;
        transition: transform 1s;
        top: 30px;
    }
    #hamburx #ham-1{
        transition: width 1s;
        transition: transform 1s;
        top: 20px;
        transform: rotateZ(-45deg);
    }
    #hamburx #ham-2{
        transition: width 1s;
        transition: transform 1s;
        top: 20px;
        transform: scaleX(0);
    }
    #hamburx #ham-3{
        transition: width 1s;
        transition: transform 1s;
        top: 20px;
        transform: rotateZ(45deg);
    }
    .hamburger{
        top: 20px;
        z-index: 4;
        position: fixed;
        display: block;
        visibility: visible;
        height: 30px;
        width: 30px;
        border-radius: 2px;
        background-color: transparent;
        right: 15px;
        z-index: 100;
    }
    .hamburger div{
        transition: width 0.3s;
        transition: transform 0.2s;         
        position: absolute;
        height: 5px;
        width: 30px;
        border-radius: 2px;
        background-color: #000;
    }
}